*{
    margin: 0;
    padding: 0;
    outline: 0.5px solid rgb(184, 184, 66);
}
h1{
    display: none;
}

/* -----header----- */
header{
    min-width: 900px;
    background-color: #eee;
    font-size: 0;
}
.header-container{
    margin: 0 auto;
    padding: 10px 0;
    width: 900px;
    text-align-last: justify;
}
.header-container a{
    display: inline-block;
    vertical-align: middle;
}
nav{
    display: inline-block;
    vertical-align: middle;
}
nav a{
    padding: 25px;

    text-decoration: none;
    font-size: 18px;
    color: #818181;
}
nav a:hover{
    color: #f7a220;
}
nav a+a{
    margin-left: 60px;
}