*{
    margin: 0;
    padding: 0;
    outline: 0.5px solid rgb(184, 184, 66);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    display: none;
}

/* -----header----- */
header{
    margin-bottom: 50px;
    min-width: 900px;
    background-color: #eee;
    font-size: 0;
}
.header-container{
    margin: 0 auto;
    padding: 30px 0;
    width: 900px;
    text-align-last: justify;
}
.header-container a{
    display: inline-block;
    vertical-align: middle;
}
nav{
    display: inline-block;
    vertical-align: middle;
}
nav a{
    padding: 25px;

    text-decoration: none;
    font-size: 18px;
    color: #818181;
}
nav a:hover{
    color: #f7a220;
}
nav a+a{
    margin-left: 60px;
}

/* -----main----- */
main{
    min-width: 900px;
}
.main-container{
    margin: 0 auto;
    width: 850px;
    text-align: center;
}
section{
    display: inline-block;
    margin-right: 90px;
    width: 350px;
    vertical-align: top;
    text-align: left;
}
h2{
    font-size: 50px;
    font-weight: 500;
}
h3{
    font-size: 25px;
    font-weight: 400;
}
p{
    margin-bottom: 20px;

    line-height: 22px;
    font-weight: 200;
    color: #585858
}
button{
    display: block;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    padding: 15px;
    width: 220px;
  
    background: linear-gradient(#ffbb57 0%,#ffbb57 50%,#f99403 50%,#f99403 100%);
    font-size: 25px;
    color: white;
}
.button_span-container span{
    display: block;
    margin: 0 auto;
    width: 220px;

    line-height: 22px;
    color: #585858
}
.image-container{
    display: inline-block;
    vertical-align: top;
}